{% extends "base.html" %}

{% block content %}
    <tr valign="middle">
            <td><h1 class="title">{{ user.name }}'s Profile</h1></td>
            <td><img src="{{ user.avatar(128) }}"></td>
    </tr>
    <hr>
    <h2 class="subtitle">Linked Accounts</h2>
    {% if sns %}
        {% for site in sns %}
            {% if (site.site != None) and (site.handle != None) %}
            <button class="button is-link is-fullwidth"><a
                    href={{ site.link }}> {{ site.site }}: {{ site.handle }}
            </a></button>
            {% endif %}
        {% endfor %}
    {% endif %}

{% endblock %}